.header {
  background-color: $color-blue;
  color: $color-white;
}

.header__wrapper {
  padding: 15px 15px 13px;
  margin: 0 auto;

  max-width: 320px;

  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px 0;

  @media (min-width: $tablet) {
    padding: 23px 45px 20px;

    max-width: 768px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: unset;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop) {
    display: flex;

    padding: 32px 120px;

    max-width: 1440px;
  }
}

.header__logo {
  grid-column: 2 /3;
  justify-self: end;
  top: 15px;
  right: 15px;

  @media (min-width: $tablet) {
    justify-self: unset;

    margin: -3px 0 0 42px;
  }

  @media (min-width: $desktop) {
    grid-column: unset;

    position: static;

    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 206px;
    height: 62px;

    transform: unset;
  }
}

.header__logo-image {
  display: block;
}

.header__nav {
  grid-column: 1 /2;
  grid-row: 1 / 2;

  @media (min-width: $desktop) {
    grid-column: unset;
    grid-row: unset;

    padding: 1px 0 0;
  }
}

.header__link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;

  grid-column: -2 / -1;

  @media (min-width: $tablet) {
    padding-top: 0;

    grid-row: 1 / 2;
  }
}

.header__link {
  color: inherit;

  text-decoration: none;

  line-height: 14px;
  font-weight: 600;

  @media (min-width: $desktop) {
    margin: 3px 0 0;

    font-size: 18px;
    line-height: 18px;
  }
}
